.App {
  display:flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  color:lightslategrey;
}
.header {
  box-shadow: 0 0 5px 5px lightgrey;
  border-radius: 3px;
  margin: 0px;
  display: flex;
  flex-direction: row;
}
.customButton {
  font-weight: bold;
  border: none;
  background-color: white;
  padding: 10px;
  color:lightslategrey;
}
.customButton:hover{
  background-color: lightgray;
}
.customButton:active{
  background-color: grey;
}
.content {
  margin-top: 20px;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}
.employee {
  border-radius: 3px;
  box-shadow: 0 0 5px 5px lightgrey;
  font-weight: bold;
  height: 400px;

}
.employee > img {
  padding: 10px;
  width:calc(100% - 20px);
  height: 300px;
  object-fit:contain;
}
.employee > div {
 padding: 0px 10px 10px 10px;
}
.empolyeeHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.empolyeeHeader a {
  padding: 5px;
}
.employee .story {
  visibility: hidden;
  width:300px;
  background-color: black;
  padding: 10px;
  color: #fff;
  text-align: left;
  padding: 10px;
  border-radius: 6px;
  overflow: hidden;
  word-wrap: break-word; /* Allows long words to break and wrap onto the next line */
  overflow-wrap: break-word; 

  /* Position the tooltip text - see examples below! */
  position:absolute;
  z-index: 1;
}
.employee:hover .story{
  visibility: visible;
}
